/CommonChickenRuntimeEngine/bin/
/CommonChickenRuntimeEngine/build/
/CommonChickenRuntimeEngine/test-build/
/CommonChickenRuntimeEngine/cobertura-instrumented/
/CommonChickenRuntimeEngine/coverage/
/CommonChickenRuntimeEngine/CCRE.jar
/CommonChickenRuntimeEngine/cobertura.ser
/CommonChickenRuntimeEngine/unit_testing_test.txt
/Emulator/bin/
/Emulator/build/
/Emulator/Dependencies.jar
/Emulator/Emulator.jar
/SampleRobot/bin/
/SampleRobot/dist/
/SampleRobot/build/
/SampleRobot/build-2014/
/SampleRobot/launches/
/SampleRobot/logs-*
/SampleRobot/emulator-logs/
/PoultryInspector/bin/
/PoultryInspector/build/
/PoultryInspector/Dependencies.jar
/PoultryInspector/PoultryInspector*.jar
/PoultryInspector/log-*
/PoultryInspector/*.ser
/roboRIO/bin/
/roboRIO/build/
/roboRIO/roboRIO*.jar
/roboRIO/Dependencies.jar
/TemplateRobot/bin/
/CCRE_Examples/bin/
/.metadata
/RemoteSystemsTempFiles
/cobertura-2.1.1
/Javadoc
/javadoc.tgz
/CCRE_Igneous_cRIO/bin
/DeploymentEngine/DepEngine.jar
/DeploymentEngine/Dependencies.jar
/DeploymentEngine/build/
/docsrc/*.css
/docsrc/*.html
/docsrc/*.js
/docsrc/*.tgz
/docsrc/pict*.png
/docsrc/ccre-docs-*
/docsrc/*~
/ci/junit-output
