/CommonChickenRuntimeEngine/bin/
/CommonChickenRuntimeEngine/cobertura-instrumented/
/CommonChickenRuntimeEngine/coverage/
/CommonChickenRuntimeEngine/CCRE.jar
/CommonChickenRuntimeEngine/cobertura.ser
/CommonChickenRuntimeEngine/test-file*
/Emulator/bin/
/Emulator/Emulator.jar
/SampleRobot/bin/
/SampleRobot/dist/
/SampleRobot/build/
/SampleRobot/build-2014/
/SampleRobot/emulation-crio/
/SampleRobot/emulation-roborio/
/SampleRobot/launches/
/SampleRobot/logs-*
/PoultryInspector/bin/
/PoultryInspector/PoultryInspector*.jar
/PoultryInspector/log-*
/PoultryInspector/*.ser
/roboRIO/bin/
/roboRIO/roboRIO.jar
/TemplateRobot/bin/
/CCRE_Examples/bin/
/.metadata
/RemoteSystemsTempFiles
/cobertura-2.1.1
/Javadoc
/javadoc.tgz
/CCRE_Igneous_cRIO/bin
