/CommonChickenRuntimeEngine/build
/CCRE_Igneous/build/
/Sample Igneous Robot/build/
/Igneous Emulator/nbproject/private/
/Igneous Emulator/build/
/Test_Copy/build/
/Sample Igneous Robot/nbproject/project.bak.xml
/Sample Igneous Robot/ccre_storage/
/Igneous Emulator/dist/lib/
/Sample Igneous Robot/nbproject/private/
/CCRE_Obsidian/nbproject/private/
/CCRE_Igneous/dist/
/Sample Igneous Robot/resources/META-INF/MANIFEST.MF
/CCRE_Obsidian/nbproject/project.bak.xml
/CommonChickenRuntimeEngine/dist/
/Igneous Emulator/dist/
/CCRE_Igneous/nbproject/private/
/CCRE_Obsidian/build/
/CCRE_Obsidian/dist/
/Prototype Obsidian Project/build/
/Prototype Obsidian Project/dist/
/Prototype Obsidian Project/nbproject/private/
/CLL Compiler/nbproject/private/
/Obsidian Emulator/nbproject/private/